In [274]:
import pandas as pd
import dec
from epw import epw
#from pyepw.epw import EPW
#epw = EPW()
import numpy as np
import datetime

In [275]:
meteo_df=pd.read_csv('IU0391U015_from_2016-01-01_to_2016-12-31',index_col='Date_Time',parse_dates=[0,])
meteo_df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,,
2016-01-01 02:00:00,0.722222,-3.555556,73.0,45.0,0.894055,0.894055,102968.26,0.0,0.0,NaN,NaN
2016-01-01 02:06:00,0.722222,-3.388889,74.0,45.0,1.341082,3.576218,102968.26,0.0,0.0,NaN,NaN
2016-01-01 02:11:00,0.777778,-3.333333,74.0,45.0,1.341082,2.235136,102968.26,0.0,0.0,NaN,NaN
2016-01-01 02:16:00,0.722222,-3.222222,75.0,45.0,1.788109,4.023245,102968.26,0.0,0.0,NaN,NaN
2016-01-01 02:22:00,0.722222,-3.222222,75.0,45.0,1.788109,2.235136,102934.40,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 21:42:00,3.222222,-1.722222,70.0,22.5,0.894055,0.894055,102731.24,0.0,0.0,NaN,NaN
2016-12-31 21:47:00,3.222222,-1.722222,70.0,67.5,0.894055,3.129191,102731.24,0.0,0.0,NaN,NaN
2016-12-31 21:52:00,3.166667,-1.777778,70.0,22.5,0.894055,2.682164,102731.24,0.0,0.0,NaN,NaN
2016-12-31 21:57:00,3.111111,-1.833333,70.0,22.5,0.894055,2.682164,102731.24,0.0,0.0,NaN,NaN
2016-12-31 22:03:00,3.166667,-1.777778,70.0,22.5,0.447027,1.341082,102731.24,0.0,0.0,NaN,NaN

In [276]:
meteo=meteo_df.resample('H').mean().interpolate()
meteo.head()

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,UV,Solar_W/m2
Date_Time,,,,,,,,,,,
2016-01-01 02:00:00,0.757576,-3.383838,73.818182,49.090909,1.544276,2.804080,102949.790909,0.0,0.0,NaN,NaN
2016-01-01 03:00:00,0.641414,-3.318182,74.818182,32.727273,1.747470,2.519608,102952.869091,0.0,0.0,NaN,NaN
2016-01-01 04:00:00,0.383838,-3.424242,75.545455,57.272727,1.097249,1.869387,102915.930909,0.0,0.0,NaN,NaN
2016-01-01 05:00:00,0.585859,-3.434343,74.545455,38.863636,1.056610,2.316414,102934.400000,0.0,0.0,NaN,NaN
2016-01-01 06:00:00,0.444444,-3.348485,75.636364,45.000000,0.487666,1.219165,102965.181818,0.0,0.0,NaN,NaN

In [277]:
meteo=meteo.drop(columns=['Solar_W/m2', 'UV'])
meteo.head()

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm
Date_Time,,,,,,,,,
2016-01-01 02:00:00,0.757576,-3.383838,73.818182,49.090909,1.544276,2.804080,102949.790909,0.0,0.0
2016-01-01 03:00:00,0.641414,-3.318182,74.818182,32.727273,1.747470,2.519608,102952.869091,0.0,0.0
2016-01-01 04:00:00,0.383838,-3.424242,75.545455,57.272727,1.097249,1.869387,102915.930909,0.0,0.0
2016-01-01 05:00:00,0.585859,-3.434343,74.545455,38.863636,1.056610,2.316414,102934.400000,0.0,0.0
2016-01-01 06:00:00,0.444444,-3.348485,75.636364,45.000000,0.487666,1.219165,102965.181818,0.0,0.0

In [278]:
time_vector = pd.date_range(start='1/1/2016', end='01/01/2017', freq='H')
newdf = pd.DataFrame(index=time_vector, columns=meteo.columns)
newdf.drop(newdf.tail(1).index,inplace=True) # drop last 1 rows
newdf

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [279]:
newdf.loc[meteo.index, meteo.columns] = meteo.loc[meteo.index, meteo.columns]
newdf

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 02:00:00,0.757576,-3.38384,73.8182,49.0909,1.54428,2.80408,102950,0,0
2016-01-01 03:00:00,0.641414,-3.31818,74.8182,32.7273,1.74747,2.51961,102953,0,0
2016-01-01 04:00:00,0.383838,-3.42424,75.5455,57.2727,1.09725,1.86939,102916,0,0
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,3.20202,-1.42929,71.7273,22.5,0.69086,1.82875,102707,0,0
2016-12-31 20:00:00,3.05093,-1.61111,71.5,7.5,0.447027,1.67635,102731,0,0
2016-12-31 21:00:00,3.16667,-1.64141,70.7273,22.5,0.853416,2.27578,102731,0,0
2016-12-31 22:00:00,3.16667,-1.77778,70,22.5,0.447027,1.34108,102731,0,0
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [280]:
import time
from datetime import timedelta

df0 = newdf.copy()
mask = newdf.isna()
missing_values_time = df0["Temperature_C"][mask["Temperature_C"]].index

while df0["Temperature_C"].isna().any():
    try:
        df0.loc[missing_values_time] = df0.loc[missing_values_time - timedelta(days=1)].values
    except:
        df0.loc[missing_values_time] = -100000555555

df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,G(i),Gb(i),Gd(i),Gr(i)
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.0,0
2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.0,0
2016-01-01 02:00:00,0.757576,-3.383838,73.818182,49.090909,1.544276,2.804080,102949.790909,0.0,0.0,0,0.0,0.0,0
2016-01-01 03:00:00,0.641414,-3.318182,74.818182,32.727273,1.747470,2.519608,102952.869091,0.0,0.0,0,0.0,0.0,0
2016-01-01 04:00:00,0.383838,-3.424242,75.545455,57.272727,1.097249,1.869387,102915.930909,0.0,0.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,3.202020,-1.429293,71.727273,22.500000,0.690860,1.828748,102706.614545,0.0,0.0,0,0.0,0.0,0
2016-12-31 20:00:00,3.050926,-1.611111,71.500000,7.500000,0.447027,1.676352,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 21:00:00,3.166667,-1.641414,70.727273,22.500000,0.853416,2.275775,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 22:00:00,3.166667,-1.777778,70.000000,22.500000,0.447027,1.341082,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.0,0

In [281]:
df0= df0.replace(-100000555555, np.nan)
df0.to_csv("meteo_2016")
df0

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 02:00:00,0.757576,-3.383838,73.818182,49.090909,1.544276,2.804080,102949.790909,0.0,0.0
2016-01-01 03:00:00,0.641414,-3.318182,74.818182,32.727273,1.747470,2.519608,102952.869091,0.0,0.0
2016-01-01 04:00:00,0.383838,-3.424242,75.545455,57.272727,1.097249,1.869387,102915.930909,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,3.202020,-1.429293,71.727273,22.500000,0.690860,1.828748,102706.614545,0.0,0.0
2016-12-31 20:00:00,3.050926,-1.611111,71.500000,7.500000,0.447027,1.676352,102731.240000,0.0,0.0
2016-12-31 21:00:00,3.166667,-1.641414,70.727273,22.500000,0.853416,2.275775,102731.240000,0.0,0.0
2016-12-31 22:00:00,3.166667,-1.777778,70.000000,22.500000,0.447027,1.341082,102731.240000,0.0,0.0
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
df = df0.copy()
mask = df.isna()
missing_values_time = df["Temperature_C"][mask["Temperature_C"]].index

while df["Temperature_C"].isna().any():
    try:
        df.loc[missing_values_time] = df.loc[missing_values_time + timedelta(days=1)].values
    except:
        break
df

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 02:00:00,0.757576,-3.383838,73.818182,49.090909,1.544276,2.804080,102949.790909,0.0,0.0
2016-01-01 03:00:00,0.641414,-3.318182,74.818182,32.727273,1.747470,2.519608,102952.869091,0.0,0.0
2016-01-01 04:00:00,0.383838,-3.424242,75.545455,57.272727,1.097249,1.869387,102915.930909,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,3.202020,-1.429293,71.727273,22.500000,0.690860,1.828748,102706.614545,0.0,0.0
2016-12-31 20:00:00,3.050926,-1.611111,71.500000,7.500000,0.447027,1.676352,102731.240000,0.0,0.0
2016-12-31 21:00:00,3.166667,-1.641414,70.727273,22.500000,0.853416,2.275775,102731.240000,0.0,0.0
2016-12-31 22:00:00,3.166667,-1.777778,70.000000,22.500000,0.447027,1.341082,102731.240000,0.0,0.0
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [283]:
df.to_csv('meteo_2016_updated')
meteo.columns

Index(['Temperature_C', 'Dew_Point_C', 'Humidity', 'Wind', 'Speed_m/s',
       'Gust_m/s', 'Pressure_Pa', 'Precip_Rate_mm', 'Precip_Accum_mm'],
      dtype='object')

In [284]:
latitude = 37.94 # latitude  N
longitude = 23.75  # longitude E
elevation = 131.064  # meters above the sea

In [285]:
ghi_tot=pd.read_csv('ghi_2016_tot.csv')
ghi_tot.columns
#to avoid saving possible blank lines at the end
ghi_tot=ghi_tot[:8760].copy()

In [286]:
#check for difference (leap year)
print(len(df))
print(len(ghi_tot))

8784
8760

In [287]:
#if leap year, run following code
start=datetime.datetime.strptime('2016-02-28 23:59:59', '%Y-%m-%d %H:%M:%S')
end=datetime.datetime.strptime('2016-02-29 23:59:59', '%Y-%m-%d %H:%M:%S')
df_365=df[(df.index<start) | (df.index>end)]
df=df_365.copy()
print(len(df))

8760

In [288]:
df['G(i)']=ghi_tot['G(i)'].values

In [289]:
ghi_comp0=pd.read_csv('ghi_2016_comp.csv')
ghi_comp=ghi_comp0[:8760].copy()
ghi_comp.columns

Index(['time', 'Gb(i)', 'Gd(i)', 'Gr(i)', 'H_sun', 'T2m', 'WS10m', 'Int'], dtype='object')

In [290]:
df['Gb(i)']=ghi_comp['Gb(i)'].values[:len(df)]
df['Gd(i)']=ghi_comp['Gd(i)'].values[:len(df)]
df['Gr(i)']=ghi_comp['Gr(i)'].values[:len(df)]
df[-10:]

,Temperature_C,Dew_Point_C,Humidity,Wind,Speed_m/s,Gust_m/s,Pressure_Pa,Precip_Rate_mm,Precip_Accum_mm,G(i),Gb(i),Gd(i),Gr(i)
2016-12-31 14:00:00,2.587963,-2.485185,69.283333,232.500000,0.260766,1.035613,102644.897000,0.0,0.0,66,5.0,61.0,0
2016-12-31 15:00:00,2.815586,-2.212346,69.563889,267.500000,0.304227,1.193314,102649.693833,0.0,0.0,0,0.0,0.0,0
2016-12-31 16:00:00,3.043210,-1.939506,69.844444,302.500000,0.347688,1.351016,102654.490667,0.0,0.0,0,0.0,0.0,0
2016-12-31 17:00:00,3.270833,-1.666667,70.125000,337.500000,0.391149,1.508717,102659.287500,0.0,0.0,0,0.0,0.0,0
2016-12-31 18:00:00,3.247475,-1.166667,72.818182,222.954545,0.406388,1.950664,102675.832727,0.0,0.0,0,0.0,0.0,0
2016-12-31 19:00:00,3.202020,-1.429293,71.727273,22.500000,0.690860,1.828748,102706.614545,0.0,0.0,0,0.0,0.0,0
2016-12-31 20:00:00,3.050926,-1.611111,71.500000,7.500000,0.447027,1.676352,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 21:00:00,3.166667,-1.641414,70.727273,22.500000,0.853416,2.275775,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 22:00:00,3.166667,-1.777778,70.000000,22.500000,0.447027,1.341082,102731.240000,0.0,0.0,0,0.0,0.0,0
2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.0,0

In [291]:
rad=pd.DataFrame(df['G(i)'].values,index=df.index,columns=['ghi'])
rad=rad.astype('float64')
rad[-10:]

                      ghi
2016-12-31 14:00:00  66.0
2016-12-31 15:00:00   0.0
2016-12-31 16:00:00   0.0
2016-12-31 17:00:00   0.0
2016-12-31 18:00:00   0.0
2016-12-31 19:00:00   0.0
2016-12-31 20:00:00   0.0
2016-12-31 21:00:00   0.0
2016-12-31 22:00:00   0.0
2016-12-31 23:00:00   0.0

In [292]:
rad=dec.main(rad,latitude,longitude,elevation)
rad

/home/ict4bd/ipython/weather_data/dec.py:244: RuntimeWarning: invalid value encountered in double_scalars
  df['k_b'] = df['dni']/df['dni_clear']
/home/ict4bd/ipython/weather_data/dec.py:245: RuntimeWarning: invalid value encountered in double_scalars
  df['k_d'] = df['dhi']/df['dhi_clear']

,ghi,azimuth,zenith,altitude,AST,G_0,k_d,dhi,dni,k_b,G_1,doy,airmass_relative,m,k_t,dni_clear,dhi_clear,G_c
2016-01-01 00:00:00,0.0,-120.535687,155.350391,-65.350391,1.531937,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-01-01 01:00:00,0.0,-103.609862,144.371614,-54.371614,2.531607,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-01-01 02:00:00,0.0,-92.484448,132.671126,-42.671126,3.531276,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-01-01 03:00:00,0.0,-83.542608,120.863650,-30.863650,4.530946,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-01-01 04:00:00,0.0,-75.310186,109.247744,-19.247744,5.530616,0.0,NaN,0.0,0.0,NaN,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,0.0,93.104069,133.350049,-43.350049,20.527634,0.0,NaN,0.0,0.0,NaN,0.0,366.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-12-31 20:00:00,0.0,104.456313,145.025449,-55.025449,21.527306,0.0,NaN,0.0,0.0,NaN,0.0,366.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-12-31 21:00:00,0.0,121.969522,155.913815,-65.913815,22.526977,0.0,NaN,0.0,0.0,NaN,0.0,366.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-12-31 22:00:00,0.0,155.817042,163.875116,-73.875116,23.526649,0.0,NaN,0.0,0.0,NaN,0.0,366.0,NaN,NaN,0.0,0.0,0.0,0.0
2016-12-31 23:00:00,0.0,-153.393401,163.603324,-73.603324,0.526321,0.0,NaN,0.0,0.0,NaN,0.0,366.0,NaN,NaN,0.0,0.0,0.0,0.0

In [303]:
data=epw()
data.read('GRC_Athens.167160_IWEC.epw')
head=data.headers # this is a dictionary of the header information
print(head)

{'LOCATION': ['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0'], 'DESIGN CONDITIONS': ['1', 'Climate Design Data 2009 ASHRAE Handbook', '', 'Heating', '2', '1.6', '3.1', '-6.8', '2.1', '5.1', '-4.9', '2.5', '5.7', '12.1', '9.7', '10.8', '8.9', '3.5', '0', 'Cooling', '8', '9.1', '35.1', '21.1', '33.8', '20.8', '32.4', '20.9', '24.4', '31', '23.6', '30.1', '22.8', '29.2', '5.6', '30', '22.2', '16.9', '28.7', '21.2', '15.9', '28', '20.5', '15.2', '27.5', '73.9', '31.4', '70.5', '30.2', '67.5', '29.3', '1110', 'Extremes', '10', '9', '8.2', '29', '-0.4', '38', '1.7', '1.9', '-1.7', '39.3', '-2.7', '40.4', '-3.7', '41.5', '-4.9', '42.8'], 'TYPICAL/EXTREME PERIODS': ['6', 'Summer - Week Nearest Max Temperature For Period', 'Extreme', '8/ 3', '8/ 9', 'Summer - Week Nearest Average Temperature For Period', 'Typical', '6/29', '7/ 5', 'Winter - Week Nearest Min Temperature For Period', 'Extreme', '2/17', '2/23', 'Winter - Week Nearest Average Temperature For Period', 'Typical', '1/13', '1/19', 'Autumn - Week Nearest Average Temperature For Period', 'Typical', '10/13', '10/19', 'Spring - Week Nearest Average Temperature For Period', 'Typical', '4/ 5', '4/11'], 'GROUND TEMPERATURES': ['3', '.5', '', '', '', '9.73', '11.26', '14.24', '17.06', '22.41', '25.22', '25.99', '24.57', '21.27', '17.17', '13.13', '10.46', '2', '', '', '', '11.84', '12.22', '13.91', '15.81', '19.91', '22.54', '23.84', '23.55', '21.67', '18.84', '15.65', '13.14', '4', '', '', '', '14.02', '13.76', '14.50', '15.58', '18.29', '20.32', '21.64', '21.96', '21.14', '19.47', '17.31', '15.35'], 'HOLIDAYS/DAYLIGHT SAVINGS': ['No', '0', '0', '0'], 'COMMENTS 1': ["IWEC- WMO#167160 - Europe -- Original Source Data (c) 2001 American Society of Heating, Refrigerating and Air-Conditioning Engineers (ASHRAE), Inc., Atlanta, GA, USA.  www.ashrae.org  All rights reserved as noted in the License Agreement and Additional Conditions. DISCLAIMER OF WARRANTIES: The data is provided 'as is' without warranty of any kind, either expressed or implied. The entire risk as to the quality and performance of the data is with you. In no event will ASHRAE or its contractors be liable to you for any damages, including without limitation any lost profits, lost savings, or other incidental or consequential damages arising out of the use or inability to use this data."], 'COMMENTS 2': [' -- Ground temps produced with a standard soil diffusivity of 2.3225760E-03 {m**2/day}'], 'DATA PERIODS': ['1', '1', 'Data', 'Sunday', ' 1/ 1', '12/31']}

In [294]:
df_epw=data.dataframe.copy()  # this is pandas dataframe
df_epw.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute',
       'Data Source and Uncertainty Flags', 'Dry Bulb Temperature',
       'Dew Point Temperature', 'Relative Humidity',
       'Atmospheric Station Pressure', 'Extraterrestrial Horizontal Radiation',
       'Extraterrestrial Direct Normal Radiation',
       'Horizontal Infrared Radiation Intensity',
       'Global Horizontal Radiation', 'Direct Normal Radiation',
       'Diffuse Horizontal Radiation', 'Global Horizontal Illuminance',
       'Direct Normal Illuminance', 'Diffuse Horizontal Illuminance',
       'Zenith Luminance', 'Wind Direction', 'Wind Speed', 'Total Sky Cover',
       'Opaque Sky Cover (used if Horizontal IR Intensity missing)',
       'Visibility', 'Ceiling Height', 'Present Weather Observation',
       'Present Weather Codes', 'Precipitable Water', 'Aerosol Optical Depth',
       'Snow Depth', 'Days Since Last Snowfall', 'Albedo',
       'Liquid Precipitation Depth', 'Liquid Precipitation Quantity'],
      dtype='object')

In [304]:
df_epw

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity,Gb(i),Gd(i),Gr(i)
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,NaN,4.0,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,NaN,2.9,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.757576,2.2,73.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.641414,1.9,74.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.383838,1.8,75.545455,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.202020,7.3,71.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.050926,7.4,71.500000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.166667,7.1,70.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.166667,6.4,70.000000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,NaN,5.3,NaN,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0

In [295]:
df.columns

Index(['Temperature_C', 'Dew_Point_C', 'Humidity', 'Wind', 'Speed_m/s',
       'Gust_m/s', 'Pressure_Pa', 'Precip_Rate_mm', 'Precip_Accum_mm', 'G(i)',
       'Gb(i)', 'Gd(i)', 'Gr(i)'],
      dtype='object')

In [296]:
df_epw['Dry Bulb Temperature']=df.Temperature_C.values
df_epw['Atmospheric Station Pressure']=df.Pressure_Pa
df_epw['Relative Humidity']=df.Humidity.values
df_epw['Global Horizontal Radiation']=rad.ghi.values
df_epw['Direct Normal Radiation']=rad.dni.values
df_epw['Diffuse Horizontal Radiation']=rad.dhi.values

'''
I don't know if the epw file works if we include these
'''
df_epw['Gb(i)']=df['Gb(i)'].values
df_epw['Gd(i)']=df['Gd(i)'].values
df_epw['Gr(i)']=df['Gr(i)'].values

df_epw['Wind Direction']=df['Wind'].values
df_epw['Wind Speed']=df['Speed_m/s'].values

In [300]:
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity,Gb(i),Gd(i),Gr(i)
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,NaN,4.0,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,NaN,2.9,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.757576,2.2,73.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.641414,1.9,74.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.383838,1.8,75.545455,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.202020,7.3,71.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.050926,7.4,71.500000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.166667,7.1,70.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.166667,6.4,70.000000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,NaN,5.3,NaN,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0

In [298]:
data.dataframe=df_epw.copy()
data.headers['LOCATION']

['ATHENS', '-', 'GRC', 'IWEC Data', '167160', '37.90', '23.73', '2.0', '15.0']

In [299]:
data.write('my_epw_file.epw')
data.dataframe

,Year,Month,Day,Hour,Minute,Data Source and Uncertainty Flags,Dry Bulb Temperature,Dew Point Temperature,Relative Humidity,Atmospheric Station Pressure,...,Precipitable Water,Aerosol Optical Depth,Snow Depth,Days Since Last Snowfall,Albedo,Liquid Precipitation Depth,Liquid Precipitation Quantity,Gb(i),Gd(i),Gr(i)
0,1999,1,1,1,60,C9C9C9C9*0?9?9?9?9?9?9?9*0C8C8C8C8*0*0E8*0*0,NaN,4.0,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
1,1999,1,1,2,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,NaN,2.9,NaN,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
2,1999,1,1,3,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.757576,2.2,73.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
3,1999,1,1,4,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.641414,1.9,74.818182,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
4,1999,1,1,5,60,C9C9C9C9*0?9?9?9?9?9?9?9*0B8B8B8B8*0*0E8*0*0,0.383838,1.8,75.545455,NaN,...,0,0.044,0,88,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1987,12,31,20,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.202020,7.3,71.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8756,1987,12,31,21,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.050926,7.4,71.500000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8757,1987,12,31,22,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,3.166667,7.1,70.727273,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8758,1987,12,31,23,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7A7A7A7A7*0E8*0*0,3.166667,6.4,70.000000,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0
8759,1987,12,31,24,60,C9C9C9C9*0?9?9?9?9?9?9?9A7A7B8B8A7*0*0E8*0*0,NaN,5.3,NaN,NaN,...,0,0.045,0,88,0.0,0.0,0.0,0.0,0.0,0